{% extends 'blog/base.html' %}
{% load static %}



{% block msg %}  
  {% if messages %}
  {% for mg in messages %}
  <div class="pt-5"></div>
  <div class="pt-5"></div>

  <div {% if mg.tags %} class="alert alert-{{mg.tags}} alert-dismissible fade show" role ="alert" {% endif %}><strong>{{mg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
  </div>
  {% endfor %}
  {% endif %}
{% endblock msg %}



{% block content %}

<div class="col-10  my-5">
  <h1 class="text-success Rounded my-5">
    Home
  </h1>

  {% for blog in all_blog %}
  <div class="jumbotron p-3  border rounded-3">
    <div class="container" >
      <div class="row">
        <div class="col-1">
          <img class="rounded-circle article-img" src="{{ blog.user.profile.image.url }}">

        </div>
        <div class="col-11">
          <p class="h4 text-uppercase text-success font-weight-bold" >{{ blog.user.first_name }} {{ blog.user.last_name }}</p>
          <p href="#" class="display-5 font-weight-bold h2">{{blog.title}}</p>
          <p class="text-muted" >Published at {{ blog.create_at }} || Last Update {{ blog.update_at }}</p>
          <p class="text-dark">{{blog.description}}</p>
        </div>
      </div>

    </div>
  </div><br>
  {% endfor %}




{% endblock content %}