.disabled-link:link {
    background-color: transparent;
    text-decoration: none;
  }
.disabled-link:visited {
    background-color: transparent;
    text-decoration: none;
  }
.disabled-link:hover {
    background-color: transparent;
    text-decoration: underline;
  }
.disabled-link:active {
    color: rgb(30, 163, 30);
    background-color: transparent;
    text-decoration: underline;
  }  


.Rounded{
  font-family: 'Kalam', cursive;
}

