.disabled-link:link {
    background-color: transparent;
    text-decoration: none;
  }
.disabled-link:visited {
    background-color: transparent;
    text-decoration: none;
  }
.disabled-link:hover {
    background-color: transparent;
    text-decoration: underline;
  }
.disabled-link:active {
    color: rgb(30, 163, 30);
    background-color: transparent;
    text-decoration: underline;
  }  


.Rounded{
  font-family: 'Kalam', cursive;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

